{% if page.url != '/' and page.url != '/en/' %}
<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol>
    <li><a href="{% if page.lang == 'en' %}/en/{% else %}/{% endif %}">Home</a></li>
    {% assign url_parts = page.url | split: '/' %}
    {% for part in url_parts %}
      {% if part != '' and part != 'index.html' %}
        <li>
          {% if forloop.last %}
            <span>{{ page.title | default: part | capitalize }}</span>
          {% else %}
            <a href="/{{ part }}/">{{ part | capitalize }}</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
{% endif %}
